@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - Fabstore</title>
    <link rel="icon" type="image/png" href="~/images/fabstore.png" asp-append-version="true">
    <link rel="stylesheet" href="~/css/auth/signup.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

    <nav class="nav-bar">
        <a href="/" class="home-link"><img src="~/images/fabstore.png" /></a>
    </nav>
    <div class="container">
    <h1 class="signup-title">Sign up to continue</h1>
    <div class="signup-container">
        <div class="alert-message">
            <span id="alertMessage"></span>
        </div>

        <form id="signup-form" method="post">
            @Html.AntiForgeryToken()

            <label for="name">Full Name</label>
            <input type="text" id="fullName" name="name" placeholder="Enter your full name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <label for="phone-no">Phone No</label>
            <input type="text" id="phoneNo" name="phone-no" placeholder="Enter your Phone No" required>

            <input type="submit" id="submit-btn" value="Sign Up">
        </form>

        <div class="signin-redirect">
            Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign In</a>
        </div>
    </div>
    </div>

    <script type="module" asp-append-version="true">
        import { handleSignup } from '/js/auth/signup.js';
        handleSignup('@Url.Action("SignUpAPI","Auth")');
    </script>

</body>
</html>
