@{
	ViewData["Title"] = "Product Details";
}


@section Styles {
    <link rel="stylesheet" href="~/css/product/details.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&wght@100..700&opsz@16..48" rel="stylesheet" />

}




<div class="product-details-container">
	<div id="product-details-inner-container" class="product-details-inner-container">
		<div class="product-image">
			<img id="product-img" alt="Product Image">
		</div>
		<div class="product-details-outer">
			<div class="product-details-inner">
			<h2 id="product-name">product name</h2>
			<h3 id="product-details">product details</h3>
			<div id="star-ratings" class="star-ratings">
				<span id="star-1" class="material-symbols-outlined not-filled-star">star</span>
				<span id="star-2" class="material-symbols-outlined not-filled-star">star</span>
				<span id="star-3" class="material-symbols-outlined not-filled-star">star</span>
				<span id="star-4" class="material-symbols-outlined not-filled-star">star</span>
				<span id="star-5" class="material-symbols-outlined not-filled-star">star</span>
				<span id="ratings-count"></span>
				<!-- <span id="rate-product">Rate this Product</span> -->
			</div>
			<p id="product-price" class="product-price">price</p>
			<p class="tax-info">inclusive of all taxes</p>
			<p class="colors-info">Available Colors</p>
			<div class="product-colors">
				<div class="color-outer">
					<div class="color color-1"></div>
				</div>
				<div class="color-outer">
					<div class="color color-2"></div>
				</div>
				<div class="color-outer">
					<div class="color color-3"></div>
				</div>
			</div>
			<div id="product-btns" class="product-btns">
				<!-- href added dynamically -->
				<a id="cart-btn" class="cart-btn">
					<div id="cart-container" class="cart-container">
						<span id="cart-icon" class="material-symbols-outlined">
							add_shopping_cart
						</span>
						<span id="cart-content">Add to Cart</span>
					</div>
				</a>

				<a id="favorite-btn" class="favourite-btn">
					<div id="favorite-container" class="not-favorite-container">
						<span id="favorite-icon" class="material-symbols-outlined favorite-icon">
							favorite
						</span>
						<span id="favorite-content">Favorite</span>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
</div>



@section Scripts{
	<script type="module" src="~/js/products/details.js"></script>
}