@{
	ViewData["Title"] = "Products";
}


@section Styles{
	<link rel="stylesheet" href="~/css/product/index.css" asp-append-version="true" />
}


<div class="product-container">
	<div id="product-inner-container" class="product-inner-container">
		<! ------------ PRODUCTS WILL BE DYNAMICALLY CREATED ----------------- -->
	</div>
</div>


@section Scripts{
	<script type="module" src="~/js/products/index.js"></script>
}