@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}


<div class="container">
    <div class="sidebar">
        <br><br><h2>Categories</h2><br>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">T-Shirts</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Shoes</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Pants</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Watches</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Socks</a></li><br>
        </ul>
        <br><hr><br>
        <br><h2>Help & Settings</h2><br>
         <ul>
            <li><a asp-controller="Home" asp-action="Index">Your Account</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Customer Service</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Signin</a></li><br>
            <li><a asp-controller="Home" asp-action="Index">Settings</a></li><br>
        </ul>
    </div>
    <div class="products">
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-1.jpg"></a>
            <div class="product-details">
                <br><h1>Red T-shirt</h1><br>
                <h2>PUMA</h2><br>
                <h3>$50.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">1,200 ratings</span>
                </div>
                <br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-4.jpg"></a>
            <div class="product-details">
                <br><h1>Blue T-shirt</h1><br>
                <h2>PUMA</h2><br>
                <h3>$35.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">1,134 ratings</span>
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-6.jpg"></a>
            <div class="product-details">
                <br><h1>Green T-shirt</h1><br>
                <h2>PUMA</h2><br>
                <h3>$60.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">100 ratings</span>
                </div><br><br>
                
               <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-2.jpg"></a>
            <div class="product-details">
                <br><h1>Black Shoes</h1><br>
                <h2>HRX</h2><br>
                <h3>$90.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="rating-count">10 ratings</span>
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-5.jpg"></a>
            <div class="product-details">
                <br><h1>Grey Shoes</h1><br>
                <h2>ADIDAS</h2><br>
                <h3>$85.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="rating-count">12,000 ratings</span>                    
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-10.jpg"></a>
            <div class="product-details">
                <br><h1>Black with Red Shoes</h1><br>
                <h2>HRX</h2><br>
                <h3>$100.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">1,312 ratings</span> 
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-11.jpg"></a>
            <div class="product-details">
                <br><h1>Grey Canvas</h1><br>
                <h2>ADIDAS</h2><br>
                <h3>$65.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">4,578 ratings</span>                    
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-3.jpg"></a>
            <div class="product-details">
                <br><h1>Grey Pant</h1><br>
                <h2>ADIDAS</h2><br>
                <h3>$45.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="rating-count">8,296 ratings</span>
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-12.jpg"></a>
            <div class="product-details">
                <br><h1>Black Pant</h1><br>
                <h2>ADIDAS</h2><br>
                <h3>$55.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">11,211 ratings</span>                   
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-8.jpg"></a>
            <div class="product-details">
                <br><h1>Black Watch</h1><br>
                <h2>FOSSIL</h2><br>
                <h3>$70.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="rating-count">98,760 ratings</span>
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-9.jpg"></a>
            <div class="product-details">
                <br><h1>Grey Watch</h1><br>
                <h2>ROADSTER</h2><br>
                <h3>$75.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">1,23,300 ratings</span>
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/product-7.jpg"></a>
            <div class="product-details">
                <br><h1>Socks</h1><br>
                <h2>HRX</h2><br>
                <h3>$50.00</h1><br>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span class="rating-count">2,365 ratings</span> 
                </div><br><br>
                
                <div class="buy-cart">
                    <a class="buy-btn" asp-controller="Home" asp-action="Index">Buy Now</a>
                    <a class="cart-btn" asp-controller="Home" asp-action="Index">Add to Cart</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>