@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}

<div class="container">
    <!-- -------------------------------------- WELCOME BANNER -------------------------------------- -->

    <div class="welcome-banner">
        <a class="banner-image-link" href="#">
            <div class="banner-img">
                <img src="~/images/banner.png" alt="banner image">
            </div>
        </a>
        <div class="banner-content">
            <div>
                <h2>Discover the fabulous in every detail. <br>Welcome to FabStore!</h2>
                <a href="#" class="explore-btn">Explore Now</a>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- TOP PRODUCTS -------------------------------------- -->

    <div class="top-products-container">
            <h2>Top Products</h2>
            <div class="top-products">
            <div class="top-products-inner">
            <div class="product">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2025/4/3/925ace95-64e1-4692-92c0-826bde3f838b1743664826626-image_png2008444094.png">
            </div>
            <div class="product">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2025/4/3/62d92229-2d9d-4cc6-933f-1facd190248c1743664969307-image_png_1434304747.png">
            </div>
            <div class="product">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2025/4/3/6d3a4cec-35ee-4002-b8c9-115b7979eb4e1743665003385-image_png225290513.png">
            </div>
            <div class="product">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2025/4/3/62628ecd-af1d-4b81-8a82-302520ade5061743664952778-image_png_1238714099.png">
            </div>
            <div class="product">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2025/4/3/e227f4c1-b6c6-4abc-bfcf-4693266d102a1743665039878-image_png_1046077641.png">
            </div>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- EDITOR'S CHOICE -------------------------------------- -->

    <div class="editors-choice-container-outer">
        <div class="editors-choice-container">
            <div class="editors-choice-grid">
                <div>
                    <h4>Editor's Pick</h4>
                    <h2>The Linen Shop</h2>
                </div>
            </div>
            <div class="editors-choice-grid">
                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2025/MAY/2/Of3jhlcU_9ec5ff0060c74781851a405665c34fab.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="https://i.etsystatic.com/44781754/r/il/f7044c/5037986584/il_680x540.5037986584_p3u3.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="https://i.etsystatic.com/9341357/r/il/67ec29/6709611634/il_680x540.6709611634_l4hi.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="https://i.etsystatic.com/6692198/c/2000/1589/0/829/il/fbb130/2830711776/il_680x540.2830711776_nxdt.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="https://i.etsystatic.com/17200887/r/il/7ddeda/6770121972/il_300x300.6770121972_3d7f.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="https://i.etsystatic.com/55410212/r/il/26d375/6806928168/il_680x540.6806928168_5jwq.jpg">
            </div>
            <div class="editors-choice-grid">
                <h3>Treat yourself to these easy, breezy designs that make every day feel like a holiday.</h3>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- TOP CATEGORIES -------------------------------------- -->

    <div class="top-categories-container">
        <h2>Shop our most popular categories</h2>
        <div class="top-categories-outer-container">
            <div class="top-categories-inner-container">
                <div class="top-categories">
                    <a href="#">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/25903210/2023/11/16/511f84c1-7c28-4003-aabb-7a0e25042c271700133891364AeroArmourUnisexWhiteT-shirt1.jpg">
                            </div>
                            <div class="category-name">
                                <h4>T-Shirts</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a href="#">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2024/NOVEMBER/30/erZs09Bf_8a3ffb2b139344478911a223db3445ec.jpg">
                            </div>
                            <div class="category-name">
                                <h4>Shirts</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a href="#">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/27407520/2025/3/13/75556096-fb4b-4222-8fed-3f977d7be3871741853296256-Bewakoof-Men-Track-Pants-9221741853295622-1.jpg">
                            </div>
                            <div class="category-name">
                                <h4>Pants</h4>
                            </div>  
                        </div>
                    </a>
                </div>
                 <div class="top-categories">
                    <a href="#">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/13036796/2021/1/6/bb6d18c9-39c1-4632-bc4a-f452606965ef1609906124788-WROGN-Men-Silver-Toned-Analogue-Watch-WRG00048A-802160990612-1.jpg">
                            </div>
                            <div class="category-name">
                                <h4>Watches</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a href="#">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2025/APRIL/22/x1d1D3FZ_ab47fa78f479404ba7e338d2c54e31f5.jpg">
                            </div>
                            <div class="category-name">
                                <h4>Shoes</h4>
                            </div>  
                        </div>
                    </a>  
                </div>
            </div>
        </div>
    </div>
</div>


