@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}


<div class="welcome-banner">
    <a href="#">
        <div class="banner-img">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/25/9be788ff-39a4-4214-99d0-fc97505aae5a1658752545685-USPA_Desk_Banner.jpg" alt="banner image">
        </div>
    </a>
</div>


