@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}

<div class="container">
    <!-- -------------------------------------- WELCOME BANNER -------------------------------------- -->

    <div class="welcome-banner">
        <a class="banner-image-link" href="#">
            <div class="banner-img">
                <img src="~/images/banner.png" alt="banner image">
            </div>
        </a>
        <div class="banner-content">
            <div>
                <h2>Discover the fabulous in every detail. <br>Welcome to FabStore!</h2>
                <a href="#" class="explore-btn">Explore Now</a>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- TOP PRODUCTS -------------------------------------- -->

    <div class="top-products-container">
            <h2>Top Products</h2>
            <div class="top-products">
            <div class="top-products-inner">
            <div class="product">
                <img src="~/images/home/top-products/top-product-1.webp">
            </div>
            <div class="product">
                <img src="~/images/home/top-products/top-product-2.webp">
            </div>
            <div class="product">
                <img src="~/images/home/top-products/top-product-3.webp">
            </div>
            <div class="product">
                <img src="~/images/home/top-products/top-product-4.webp">
            </div>
            <div class="product">
                <img src="~/images/home/top-products/top-product-5.webp">
            </div>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- EDITOR'S CHOICE -------------------------------------- -->

    <div class="editors-choice-container-outer">
        <div class="editors-choice-container">
            <div class="editors-choice-grid">
                <div>
                    <h4>Editor's Pick</h4>
                    <h2>The Linen Shop</h2>
                </div>
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-1.webp">
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-2.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-3.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-4.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-5.jpg">
            </div>
            <div class="editors-choice-grid">
                <img src="~/images/home/editors-pick/editors-pick-6.jpg">
            </div>
            <div class="editors-choice-grid">
                <h3>Treat yourself to these easy, breezy designs that make every day feel like a holiday.</h3>
            </div>
        </div>
    </div>

    <!-- -------------------------------------- TOP CATEGORIES -------------------------------------- -->

    <div class="top-categories-container">
        <h2>Shop our most popular categories</h2>
        <div class="top-categories-outer-container">
            <div class="top-categories-inner-container">
                <div class="top-categories">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="tshirts">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="~/images/home/popular-categories/popular-categories-1.webp">
                            </div>
                            <div class="category-name">
                                <h4>T-Shirts</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="shirts">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="~/images/home/popular-categories/popular-categories-2.webp">
                            </div>
                            <div class="category-name">
                                <h4>Shirts</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="pants">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="~/images/home/popular-categories/popular-categories-3.webp">
                            </div>
                            <div class="category-name">
                                <h4>Pants</h4>
                            </div>  
                        </div>
                    </a>
                </div>
                 <div class="top-categories">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="watches">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="~/images/home/popular-categories/popular-categories-4.webp">
                            </div>
                            <div class="category-name">
                                <h4>Watches</h4>
                            </div>  
                        </div>
                    </a> 
                </div>
                 <div class="top-categories">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="shoes">
                        <div class="top-categories">
                            <div class="category-img">
                                <img src="~/images/home/popular-categories/popular-categories-5.webp">
                            </div>
                            <div class="category-name">
                                <h4>Shoes</h4>
                            </div>  
                        </div>
                    </a>  
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="module" src="~/js/home/index.js"></script>
}


