*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Poppins','Arial';
}

a{
	text-decoration: none;
}

/* ---------- HEADER STYLES ---------- */

header{
	position: sticky;
	width: 100%;
	top: 0;
	background-color: white;
}

.nav-container{
	display: flex;
	max-width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex: 1;
}

.nav-container .logo img{
	max-height: 5.5rem;
	max-width: 5.5rem;
}

.nav-container .categories-menu{
	display: flex;
	gap: 0.5rem;
	padding: 10px;
	border-radius: 30px;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

.nav-container .categories-menu:hover{
	background-color: #e9e9e9;
}

.nav-container .categories-menu svg{
	fill: #222;
}

.nav-container .search-bar{
	display: flex;
	min-width: 60%;
	min-height: 3em;
	align-items: stretch;
	position: relative;
/*	margin-right: 10px;*/
}

.nav-container .search-bar input{
	min-width: 85%;
	min-height: 100%;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: none;
	padding-left: 20px;
	font-size: medium;
}

.nav-container .search-bar input::placeholder{
	font-size: medium;
}

.nav-container .search-bar input:focus {
  outline: none;      /* Removes default browser outline */
  box-shadow: none;   /* Removes any box shadow (if present) */
}


.nav-container .search-bar button{
	border-left: none;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #f16318;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	min-width: 15%;
	color: white;
	cursor: pointer;
	transition: color 0.2s ease, background-color 0.2s ease;
}

.nav-container .search-bar button:hover{
	background-color: #e9e9e9;
}

.nav-container .search-bar button:hover svg{
	fill: #f16328;
}

.nav-container .nav-links{
	display: flex;
	list-style-type: none;
	align-items: stretch;
	gap: 0.3rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	min-height: 3rem;
}

.nav-container .nav-links li{
	display: flex;
	align-items: center;
	min-height: 100%;
	align-items: center;
}

.nav-container .nav-links a{
	color: #222;
	padding: 10px;
	border-radius: 30px;
	transition: background-color 0.2s;
}


.nav-container .nav-links a svg{
	fill: #222;
}

.nav-container .nav-links a:hover{
	color: #222;
	background-color: #e9e9e9;	
}

/* ---------- SIDEBAR STYLES ---------- */

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -20rem; 
  z-index: 1000;  /*Above overlay*/ 
  transition: left 0.3s ease;
}

.sidebar .logo{
	position: relative;
	top: 0;
	margin-left: 2rem;
}

.sidebar .logo img{
	height: 60px;
	width: 60px;
}

.sidebar h2{
	text-align: center;
	margin-bottom: 1.5rem;
}

.sidebar.active {
  left: 0; /* Show sidebar */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 1rem 3rem;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover{
	background-color: #e9e9e9;
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #222;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  z-index: 999;
  display: none; /* Hidden by default */
}

.overlay.active {
  display: block; /* Show when active */
}

.sidebar #menu-items a{
	color: #222;
}

/* ---------- FOOTER STYLES ---------- */

@media (max-width:800px){
	footer,
	.footer-container,
	.footer-container ul{
		flex-direction: column;
	}

}

footer{
	display: flex;
	min-width: 100%;
	align-items: stretch;
	background-color: #222;
	min-height: 5rem;
}

.footer-container{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	max-width: 80%;
	min-height: 100%;
	justify-content: center;
	margin: auto;
	align-items: center;
}

.footer-container ul{
	list-style-type: none;
	display: flex;
	gap: 1rem;
	color: white;
}

.footer-container ul li,
.footer-container ul a{
	color: white;
}

.footer-container ul a{
	text-decoration: underline;
	font-weight: 200;
}