.product-details-container{
	width: 80%;
	height: 45rem;
	margin: auto;
	display: flex;
	justify-content: center;
	font-size: 1.2vw;
}

.product-details-inner-container{
	display: flex;
	justify-content: center;
	width: 80%;
	height: auto;
	aspect-ratio: 16 / 11;
	gap: 2rem;
	padding: 0rem;
	margin-top: 5rem;
	margin-bottom: 5rem;

}

/* ------------------------- PRODUCT IMAGE STYLES ---------------------------------*/

.product-details-inner-container .product-image{
	width: 40%;
	height: 100%;
	border: 1px solid #f16318;
	border-radius: 10px;
}

.product-details-inner-container .product-image img{
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

/* --------------------------- PRODUCT DETAILS STYLE ---------------------------- */

.product-details-inner-container .product-details-outer{
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	border: 2px solid #e9e9e9;
	border-radius: 10px;
}

.product-details-inner{
	width: 100%;
}

.product-details-outer h2{
	margin-left: 2%;
	font-size: 1.5rem;
}

.product-details-outer h3{
	margin: 2%;
	color: #797a98;
	font-size: 1.2rem;
}

.product-details-outer .star-ratings{
	margin-top: 3%;
	margin-left: 2%;
	font-size: 1rem;
	display: flex;
}

.product-details-outer #ratings-count{
	margin-left: 1rem;
}

.product-details-outer .product-price{
	margin-top: 4%;
	margin-left: 2%;
	font-size: 2rem;
}

.product-details-outer .tax-info{
	margin: 2%;
	color: #03a689;
	font-size: 0.9rem;
}

.product-details-outer .colors-info{
	margin-left: 2%;
	margin-top: 3%;
	font-size: large;
	font-weight: 600;
	color: #ff527b;
	font-size: 0.9rem;
}

.product-details-outer .color-outer{
	height: 4rem;
	width: 4rem;
	border-radius: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-details-outer .color-outer:hover{
	border: 1px solid black;
}

.product-details-outer .color{
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 3.5rem;
}

.product-details-outer .color-1{
	background-color: black;
}

.product-details-outer .color-2{
	background-color: #222;
}

.product-details-outer .color-3{
	background-color: #09062e;
}

.product-details-outer .product-colors{
	display: flex;
	margin-left: 2%;
	margin-top: 3%;
	gap: 1.5rem;
}

.product-details-outer .product-btns{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	gap: 2rem;
}

.product-details-outer .product-btns a{
	width: 45%;
}

.product-details-outer .product-btns a div{
	display: flex;
	gap: 2%;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width: 100%;
	border-radius: 1rem;
	font-size: 1rem;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
	color: #e9e9e9;
}

.product-details-outer .product-btns .cart-container{
	background-color: #f16318;
}

.product-details-outer .product-btns .not-favorite-container{
	background-color: #ff527b;
}

.product-details-outer .product-btns .favorite-container{
	background-color: white;
	color: #ff527b;
	border: 2px solid #ff527b;
}

.product-details-outer .product-btns .cart-container:hover{
	background-color: #e9e9e9;
	color: #f16318;
}
.product-details-outer .product-btns .not-favorite-container:hover{
	background-color: #e9e9e9;
	color: #ff527b;
}



@media (max-width: 900px) {
  .product-details-container {
    width: 100% !important;
    height: auto !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  .product-details-inner-container {
    display: flex !important;
    flex-direction: column !important;
    aspect-ratio: unset !important;
  }

  .product-details-inner{
  	margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .product-image,
  .product-details-outer {
    width: 100% !important;
  }

  .product-image{
  	height: 30rem !important;
  }

  .product-image img {
    width: 100% !important;
    display: block;
  }
}


/* ------------------------ MATERIAL ICONS STYLES ---------------------------------- */

.material-symbols-outlined{
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined.favorite-icon{
      font-variation-settings:
        'FILL' 1
}

.material-symbols-outlined.filled-star{
	font-variation-settings:
        'FILL' 1;

    color: #f7e816;
}

.material-symbols-outlined.not-filled-star{
	color: rgba(0, 0, 0, 0.2);
}



